/* App Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Tajawal:400,700&display=swap&subset=arabic');

$font-primary: 'Lato', sans-serif;
$font-secondary:  'Tajawal', sans-serif;

/* App Icons */
@import url('https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css');

/* App colors */
$white: #FFFFFF;
$off-white: #F7F9FB;
$light: #d0d0d0;
$red: #EB3B5A;
$orange: #F6A910;
$green: #1ABC9C;
$focus: #E4F3FF;
$light-gray: #F1F2F6;
$medium-gray: #cecece;
$dark-gray: #707070;
$light-blue: #3299E9;
$medium-blue: #0371C6;
$dark-blue: #0C3065;
$dark-more-blue: #042565;
$black: #38494A;
