<header>
  <div class="brand" routerLink="/dashboard" [class.wide]="activeSidebar"></div>
  <div class="toggle" (click)="toggleSidebar()">
    <span class="mdi mdi-view-grid"></span>
  </div>
  <div class="options">
    <div class="lang">
      <a href="javascript:" (click)="changeLang()">{{'header.lang' | translate}}</a>
    </div>
    <div class="user">
      <div ngbDropdown>
        <div class="photo" id="userDropdown" ngbDropdownToggle>
          <img src="assets/images/person.png" alt="Person">
        </div>
        <div ngbDropdownMenu aria-labelledby="userDropdown">
          <button ngbDropdownItem>{{'header.profile' | translate}}</button>
          <button ngbDropdownItem>{{'header.logout' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</header>
